{% load static %}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyHome</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <div class="container">
    <header>
        <h1><a href="{% url 'home' %}">EasyHome</a></h1>
    </header>

    <nav>
        <button id="home-btn" class="icon-button"><a href="{% url 'home' %}">🏠</a></button>

        <button id="settings-btn" class="icon-button"><a href="{% url 'settings' %}">⚙️</a></button>

    </nav>

        <script>

    setTimeout(function() {
        const messages = document.getElementById('messages');
        if (messages) {
            messages.style.display = 'none'; // Skjuler meldingen
        }
    }, 3000);

    const body = document.body;


const savedTheme = localStorage.getItem('theme');
if (savedTheme) {
    body.classList.add(savedTheme);
}


function toggleTheme() {
    if (body.classList.contains('dark-mode')) {
        body.classList.remove('dark-mode');
        localStorage.setItem('theme', ''); // Fjern lagret tema
    } else {
        body.classList.add('dark-mode');
        localStorage.setItem('theme', 'dark-mode'); // Lagre tema
    }
}
</script>


{% if messages %}
    <ul id="messages" class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% endblock content %}


            <footer>

        <button class="add-device"><a href="{% url 'new_device_list'  %}">Legg til enhet +</a></button>
                <button onclick="toggleTheme()">Dark / Light</button>
        <button class="devices-settings">Enheter ⚙️</button>
    </footer>
</div>
</body>
</html>

