{% load static %}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyHome</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="container">
    <header>
        <h1><a href="{% url 'home' %}">EasyHome</a></h1>
    </header>

    <nav>
        <button id="home-btn" class="icon-button"><a href="{% url 'home' %}">🏠</a></button>

        <button id="settings-btn" class="icon-button">⚙️</button>
    </nav>



{% block content %}
{% endblock content %}


            <footer>

        <button class="add-device"><a href="{% url 'new_device_list'  %}">Legg til enhet +</a></button>
        <button class="devices-settings">Enheter ⚙️</button>
    </footer>
</div>
</body>
</html>

