{% load static %}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyHome</title>
    <link id="theme-style" rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/delete_device.css' %}">
    <script src="{% static 'js/toggle_theme.js' %}" defer></script>
</head>
<body>

    <div class="container">
        <header>
            <h1>EasyHome</h1>
        </header>
    
    <div class="home-header">
        <section class="header-container">
            <h2>Slett enhet</h2>
        </section>
        <button class="icon-button"><span class="icon">
            <a href="{% url 'settings' %}">⚙️</a></span></button>
        <button class="icon-button2"><span class="icon">
            <a href="{% url 'home' %}">🏠</a></span></button>
    </div>

        <div class="form-styling">
        <form action="" method="post">{% csrf_token %}
            Ønsker du å slette: {{ device.name }} ?
            
            <input type="submit" value="SLETT ENHET">

        </form>
        </div> 
    </div>
</body>
</html>

