{% load static %}
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyHome</title>
    <link id="theme-style" rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/toggle_theme.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>EasyHome</h1>
        </header>
    
    <div class="home-header">
        <section class="header-container">
            <h2>{{device.name}}</h2>
        </section>
        <button class="icon-button"><span class="icon">⚙️</span></button>
    </div>
    
    <div class="device-descrip-header">
        {{device.description}}
    </div>
    
    
    <div class="each-device-container">
        <section class="room-section">
            <p>Rom: {{device.room}}</p>
        </section>
    {% if device.get_device_type == 'smartthermostat' %}
        <section class="get-status">
            <p>Temperatur: {{ device.get_temperature }} C&deg;</p>
            <p>Tilstand: {{ device.get_mode }}</p>
            <p>Relativ luftfuktighet: {{ device.get_humidity }}</p>
        </section>
        <form method="post" action="{% url 'update_device_temperature' device_type=device.get_device_type id=device.id %}">
            {% csrf_token %}
            <label for="temperature">Sett ny temperatur:</label>
            <input type="number" id="temperature" name="temperature" value="{{ device.get_temperature }}">
            <button type="submit">Oppdater temperatur</button>
        </form>
            {% endif %}

    {% if device.get_device_type == 'smartbulb' %}
        <section class="get-status">
            <p>Farge: {{ device.get_color }}</p>
            <p>Tilstand: {% if device.get_is_on_status == False %}Lys er av{% else %}Lys er på{% endif %}</p>
            <p>Styrke: {{ device.get_brightness}}</p>
        </section>
        <form method="post" action="{% url 'toggle_light' device_type=device.get_device_type id=device.id %}">
                {% csrf_token %}
                <button type="submit">
                    {% if device.is_on %}
                        Slå av lyset
                    {% else %}
                        Slå på lyset
                {% endif %}
            </button>
        </form>

        {% endif %}

        {% if device.get_device_type == 'carcharger' %}
            <section class="get-status">
                <p>Batteri: {{ get_battery_charge }} kW</p>
                <p>Batterikapasitet: {{ device.get_battery_capacity }} kW</p>
                <p>Ladestatus: {{ device.get_is_charging_status }}</p>
                <p>Strømstyrke: {{ device.get_current_power_consumption }} A</p>
            </section>
        {% endif %}
    </div>


        </p>
        <button class="device-button"><a href="{% url 'update_device' device.get_device_type device.id %}">Endre enhet</a></button>
        <button class="device-button"><a href="{% url 'delete_device' device.get_device_type device.id %}">Slette enhet</a></button>

    </div>
</body>
</html>