{% load static %}
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyHome</title>
    <link id="theme-style" rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <script src="{% static 'js/toggle_theme.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>EasyHome</h1>
        </header>
    
    <div class="home-header">
        <section class="header-container">
            <h2>Innstillinger</h2>
        </section>
        <button class="icon-button"><span class="icon">
            <a href="{% url 'settings' %}">⚙️</a></span></button>
        <button class="icon-button2"><span class="icon">
            <a href="{% url 'home' %}">🏠</a></span></button>
    </div>
        <div class="settings-section-container">
           <button id="settings-theme-toggle" class="theme-toggle">Light mode</button>
        </div>
        
        <div class="other-settings-container">
            <h2>Her kan det legges til funksjonalitet for å endre f.eks hjem.</h2>
            <p>Knappene her er kun for å vise elementer som legges her</p>
           <button id="#">Eksempel knapp</button>
            <button id="#">Eksempel knapp</button> 
        </div>
    
    </div>

</body>
</html>